@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: url("/bg.jpg") center center no-repeat fixed;
  background-size: cover;
  color: #fff;
}

.no-scroll {
  overflow: hidden;
}

/* Embla */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 65%;
}

.embla__dot {
  -webkit-appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.embla__dots {
  z-index: 1;
  bottom: -3.5rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.embla__dot {
  width: 2.4rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.embla__dot:after {
  background: #eee;
  border-radius: 0.2rem;
  width: 100%;
  height: 0.2rem;
  content: "";
}
.embla__dot--selected:after {
  background: #feda4e;
}

@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 80%;
  }
  .embla__dots {
    bottom: -2.5rem;
  }
  .embla__dot {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

@media (max-width: 640px) {
  .embla__slide {
    flex: 0 0 100%;
  }
  .embla__dots {
    bottom: -1.5rem;
  }
  .embla__dot {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.425rem;
    margin-left: 0.425rem;
  }
}

/* Loader */

.loading {
  border: 4px solid #ddd;
  border-right-color: #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: spin 1s infinite;
}
